*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.barDiscount{
    height: 38px;
    width: 100%;
    background: #1CD1B0;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    padding: 10px;
    z-index: 1;
    top: 0;
}

.header{
    height: 6.313rem;
    width: 100vw;
    background: #00669F;
    box-shadow: 0px 10px 7px 0px #00000040;
    position: sticky;
    z-index: 1;
    top: 0;
}

.header h1{
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 2.8rem;
    padding: 1.5rem;
}

main{
    display: flex;
    height: 100%;
    justify-content: column;
    align-items: center;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.bg{
    position: relative;
    width: 23.4rem;
    height: 13.6rem;
    border-radius: 10px;
}

.batman{
    background-image: url(../img/bg-batman.png);
}

.ww{
    background-image: url(../img/bg-ww.png);
}

.superman{
    background-image: url(../img/bg-superman.png);
}

.arlequina{
    background-image: url(../img/bg-arlequina.png);
}

.hero-img{
    border-radius: 50%;
    position: absolute;
    bottom: -25%;
    right: 32%;
    width: 8.5rem;
    height: 8.5rem;
}

.icon-heart{
    position: absolute;
    left: 1.25rem;
    top: 1.25rem;
}

.card{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 5rem;
    width: 23.38rem;
    height: 37.32rem;
    background: #F3F3F3;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 5px;
}

.text-card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 22rem;
    align-items: center;
    margin: 1.25rem auto;
}

.text-card h2{
    margin: 2.688rem;
    font-size: 1.875rem;
    font-weight: 25rem;
    line-height: 2.188rem;
}

.text-card p{
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.188rem;
    color: #333;
}

.text-card button{
    background: #00669F;
    padding: 1.063rem 2.188rem;
    color: #F3F3F3;
    border: none;
    margin-top: 1.45rem;
}


footer{
    width: 100%;
    height: 51px;
    background: #00669f;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 16px 26px;
    color: #f3f3f3;
    text-align: center;
    margin-top: 338px;
}