* {
padding: 0;
margin: 0;
box-sizing: border-box;
list-style: none;
text-decoration: none;
font-family: 'Roboto', sans-serif;
}

img {
max-width: 100%;
}

body {
font-family: 'Roboto', sans-serif;
}

html {
scroll-behavior: smooth;
scroll-padding-top: 10px;
}

.header {
position: sticky;
top: 0px;
}

.menu-mobile {
display: none;
}

.offer-container {
display: flex;
align-items: center;
justify-content: space-between;
background: #222222;
width: 100%;
padding: 0 90px;
color: #f3f3F3;
}

.offer-container .select a {
color: #f3f3f3;
display: inline-block;
padding: 5px;
}

.header-container {
width: 100%;
display: flex;
background: #F0A83E;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;
padding: 15px 40px;
}

.header-container .logo {
display: flex;
align-items: center;
}

.header-container .logo a h1 {
color: #3c2313;
font-size: 1.25rem;
}

.header-container .logo a h1 span {
color: #f3f3f3;
}

.navigation .list {
display: flex;
align-items: center;
}

.navigation .list li+li {
margin-left: 8px;
}

.navigation .list li a {
display: inline-block;
padding: 5px;
color: #f3f3f3;
transition: .3s;
}

.navigation .list li a:hover {
color: #3c2313;
}

.home-container {
width: 100%;
height: 409px;
background-image: url('../img/pote.png');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
display: flex;
justify-content: end;
align-items: center;
margin-bottom: 20px;
}

.bg-text {
max-width: 365px;
margin-right: 12px;
text-align: center;
color: #3c2313;
}

.bg-text p.title {
text-align: center;
background: #f3f3f3;
font-size: 1.875rem;
border-radius: 5px;
padding: 10px 28px;
margin-bottom: 12px;
}

.bg-text a {
color: #f3f3f3;
display: inline-block;
padding: 15px 17px;
background: #f0a83e;
border-radius: 5px;
margin-top: 12px;
}

.products-container {
text-align: center;
margin-bottom: 78px;
}

.products-container h2 {
color: #3c2313;
font-size: 2.5rem;
margin-bottom: 15px;
}

.products-links a {
color: #666666;
display: inline-block;
padding: 5px;
transition: .3s;
margin-left: 5px;
}

.products-links a:hover {
color: #3c2313;
}

.products-boxes {
display: flex;
flex: 1;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
max-width: 834px;
margin: 49px auto 0px auto;
font-size: .934rem;
}

.product-name {
font-weight: 600;
color: #3c2313;
}

.price {
color: #f0a83e;
font-weight: 600;
}

.contacts-container {
max-width: 340px;
margin: 0 auto;
display: flex;
text-align: center;
align-items: center;
}

form.contatos h2 {
color: #3c2313;
margin-bottom: 15px;
}

form.contatos input {
width: 100%;
background: #3c2313;
border: none;
font-size: 14px;
border-radius: 15px;
padding: 15px 14px;
margin: 5px 0;
color: #ffffff;
}

form.contatos input::placeholder {
color: #ffffff;
font-size: 9px;
}

.form-button {
margin-top: 49px;
}

.form-button button:first-child {
background: #8a8787;
color: #f3f3f3;
border: none;
border-radius: 15px;
padding: 8px 30px;
}

.form-button button:last-child {
background: #f0a83e;
padding: 8px 30px;
color: #f3f3f3;
border-radius: 15px;
border: none;
}

.form-button button {
cursor: pointer;
font-size: 1rem;
}

.footer-container {
width: 100%;
background: #3c2313;
}

.newsletter-container {
background: #f0a83e;
width: 100%;
padding: 10px 23px;
display: flex;
flex-wrap: wrap;
margin: 95px auto 0 auto;
align-items: center;
justify-content: space-between;
}

.newsletter-container div {
display: flex;
align-items: center;
}

.newsletter-container div p {
margin-left: 10px;
color: #f3f3f3;
font-weight: bold;
}

.newsletter-container form {
width: 346px;
display: flex;
}

.newsletter-container form input {
width: 271px;
padding: 15px 8px;
border-radius: 15px;
border: none;
}

.newsletter-container form input::placeholder {
font-size: 9px;
color: #a0a0a0;
}

.newsletter-container form button {
margin-left: 5px;
padding: 12px 22px;
border-radius: 15px;
background-color: #3c2313;
border: none;
color: #ffffff;
cursor: pointer;
}

.footer-content {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
width: 85%;
margin: 0 auto;
}

.contact-box {
display: flex;
flex-direction: column;
height: 66px;
flex-wrap: wrap;
max-width: 199px;
margin: 20px 0px;
}

.contact-box p,
.contact-box span {
margin-left: 25px;
}

.title-contact {
color: #f3f3f3;
font-weight: bold;
font-size: 1.25rem;
}

.contact-box span {
color: #8a8787;
font-size: .625rem;
}

.footer-website {
display: flex;
align-items: center;
justify-content: center;
color: #f3f3f3;
font-weight: bold;
font-size: 1.25rem;
}

.footer-website span span {
color: #f0a83e;
}

.footer-copyright {
width: 100%;
background: #222222;
text-align: center;
color: #FFF;
font-weight: bold;
font-size: .625rem;
padding: 4px 0px;
}